{% load static %}
<!--
<h1>Helloo world</h1>

<img src="{% static 'images/DSC_0396.jpg'%}" alt="">
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>johnson njenga</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <br>
  <body class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body border-info"><img id='profilepic' src="{% static 'images/DSC_0396.jpg'%}" alt="">
          <br>
          <div class="text-center">
          <h4>Hi am Johnson !</h4>
          <p>I love codding,duing research and colaborating on projects</p>
          </div>
        </div>
          
        </div>
        <div class="col-md-9 pt-2">
          <div class="card card-body h-100 border-info "><h4>My first job as a developer</h4>
          <p>three monthes after writing my helloo world program in september 2023 </br>while working at the sales depertment ihad convinced my boss to let me leat his staff on bulding a better website </br>
        </p>
        <p>Therfore i am confident enough on what i am duing currently in my projects proving </br>i was able to do quit whell in leading a team </p>
        <!--<ul class="social-links">
          <li> <img class='social' src="{% static 'images/facebook.jpg'%}" alt=""></li>
          <li> <img class='social' src="{% static 'images/insta.jpg'%}" alt=""></li>
          <li> <img class='social' src="{% static 'images/x.jpg'%}" alt=""></li>
        </ul>-->
        </div>
      </div>
          
        
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>My Experience as a Developer</h4>
            <p>I have over 7 years of experience in software development, specializing in web  
              and mobile applications. </p><p>My expertise spans across various technologies including  JavaScript, Python, React, and Node.js. Throughout my career, I've led several 
               projects from conception to deployment, improving user experience and optimizing backend performance</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>What I Know</h4>
            <p>Python,JavaScript,SQL,AWS,HTML/CSS,React postgre and APIs such us google maps,
              javascript charts and a whole bunch  cant probably mention </p>
              <p>PS:Working on Nodejs,Mongo DB and Machine Learning</p>
          </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
          <div class="card card- h-100 text-center">
            <h4>How I Learn</h4>
            <p>Reverse engineer and build agly prototype first </p>
            <p>i can just learn about anything by having final
               product to tear apart piece by piece, i break the code where i need to figure 
              out why things work the way they do. Documentation is just point of refference</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body h-100">
            <h4>My Short Term Goal</h4>
            <p>I am focused on completing a personal project that involves developing a full-stack web application using the MERN (MongoDB, Express, React, Node.js) stack. My goal is to have a functional and well-documented application
               ready for deployment within the next two months</p>
          </div>
        </div>
    </div>
    <br>
      </div>
    </div>
  </body>
</html>
